/* Styles for problems list
----------------------------------------------------------*/
.problem 
{
    margin-bottom: 5px;    
}
.problem .description 
{
    display: inline-block;
    margin-left: 30px;
    font-size: 1.5em;
    font-weight: bold;
}
.problem.closed .description
{
    text-decoration: line-through;   
}
.problem .answers 
{
    text-align: right;
    display: inline-block;
    padding : 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border: 4px solid #5C87B2;
}

#responses 
{
    margin-left: 50px;
}
.response 
{
    margin: 30px;
}
.response .user, 
.response .note
{
    display: inline-block;
}
.response .message
{
}
.response .user
{
    margin-left: 30px;
}
.response .note
{
}

.response .note .points 
{
}
.response .note .points.gold
{
    color: Yellow;
}
.response .note .points.silver
{
    color: Silver;
}
.response .note .points.bronze
{
    color: Orange;
}

/* Styles for pagination
----------------------------------------------------------*/
.pagination 
{
}
.pagination a 
{
    padding: 2px;
    background-color: rgb(232, 238, 244);   
}

.pagination a 
{
    padding: 2px;
    color : #034af3;
    background-color: rgb(232, 238, 244);   
}

.pagination a.current 
{
    background-color : #034af3;
    color: rgb(232, 238, 244);
    text-decoration:none;
}