**/*.suo
**/*.user
bin
obj
_ReSharper*
dist
output
build

*.csproj.user

*.resharper.user
*.ReSharper.user
*.resharper

*.suo

*.cache
/**/*.cache

*.~
TestResult.xml
*.svp
Log/
log/
*.db
